@font-face {
    font-family: 'svgo-gui';
    src:url('../iconfont/svgo-gui.ttf');
    font-weight: normal;
    font-style: normal;
}


.icon-checkmark-circle, .icon-spam, .icon-wand, .icon-cog, .icon-spinner {
    font-family: 'svgo-gui';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-checkmark-circle:before {
    content: "\e001";
}
.icon-spam:before {
    content: "\e002";
}
.icon-wand:before {
    content: "\e000";
}
.icon-cog:before {
    content: "\e004";
}
.icon-spinner:before {
    content: "\e003";
}
