/* ====================================================
    GENERAL
    ====================================================*/

*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font:{
        family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        weight: 300;
        size: 1rem;
    };
}

main{
    display: block;
    position: relative;
    height: 100%;
    padding: .5rem;
    background: white;
    color: #333;
    text-shadow: 0 1px 0 #fff;
}

table { 
    border: none;
    border-collapse: collapse; 
    border-spacing: 0; 
}
td { 
    vertical-align: top; 
}

button{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

/* ====================================================
    FOOTER
    ====================================================*/

.settings{
    position: absolute;
    bottom: 0rem;
    right: .1rem;
    padding: 1em;
    font-size: 1rem;
    line-height: 100%;
    color: rgba(121, 130, 144, 0.52);
    &:hover{
        cursor: pointer;
        color: #798290;
    }
}


/* ====================================================
    HOLDER
    ====================================================*/

.holder{
    position: relative;
    height: 100%;
    width: 100%;
    background: #E6EAF0;
    border-radius: .5rem;
    color: black;
}

.holder__title{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    color: #798290;
    text-shadow: 0 1px 0 #fff;
    font:{
        size: .8rem;
        weight: normal;
    };
    line-height: 32px;
    margin-top: -32px;
    i{
        display: block;
        font-size: 2.1rem;
        margin-bottom: .3rem;
        @include single_transition(color, .3s, ease-in-out);
    }
}



/* ====================================================
    LIST
    ====================================================*/

.page_layout_list{
    main{
        background: none;
        padding: 0;
    }
    background-image: -webkit-linear-gradient(transparent 50%, #F5F6FA 50%);
    background-image:         linear-gradient(transparent 50%, #F5F6FA 50%);
    background-size: 66px 66px;
}

table{
    width: 100%;
    font-size: .9rem;
    color: #46474C;
}

tr, th, td{
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    text-align: left;
}

.list__header{
    @include linear_gradient(top, #F2F3F8, #E4E7EE);
    th{
        font-weight: 600;
        border: 1px solid #CACDD4;
        color: #696D76;
    }
}

.list__body{
    tr{
        @include simple_animation(fadeInLeft, .2s, linear);
    }
    td{
        border: 1px solid #EAEBEF;
        font-size: .9em;
    }
}



.item__cell_type_name{
    padding-left: 30px;
    position: relative;
    &:before{
        @extend .icon-checkmark-circle;
        content: "\e001";
        position: absolute;
        top: 0;
        left: 10px;
        color: rgb(108, 219, 122);
        line-height: 33px;
    }
}

.item_error_yes{
    color: rgb(255, 84, 84);
    .item__cell_type_name{
        &:before{
            content: "\e002";
            color: rgb(255, 84, 84);
        }
    }
}





/* ====================================================
    STATES
    ====================================================*/

.list{
    display: none;
}

.holder_state_hover{
    i{
        color: rgb(108, 219, 122);
        @include simple_animation(tada, .5s, linear);
    }
}

.page_layout_list{
    .holder{
        display: none;
    }
    .list{
        display: block;
    }
}





























